<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="localDB" connectionString="NF7kIRNigkRIp3bkgeW/CIeHNsdUXHZ9+0HCdypiExdzc9bddGfJEoMITAxgOTcEmKA5KumHCQzXrAa79fJuvQ=="/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>